html {
    font-size: 14px;

}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;

}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

nav {
    background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.75)), url('/Images/Textures/LayoutTextureWoodPizzaraCupria.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 4px solid #b45309; /* Dorado más cálido */
    border-bottom: 1px solid #b45309;
    box-shadow: 0 10px 30px rgba(0,0,0,0.8), inset 0 -2px 10px rgba(255,215,0,0.15);
}

    nav a {
        font-family: 'Cinzel', serif;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: all 0.3s ease;
    }

        nav a:hover {
            color: #facc15; /* Amarillo dorado */
            text-shadow: 0 0 8px rgba(255,215,0,0.8);
            transform: translateY(-1px);
        }

footer {
    background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.92)), url('/Images/Textures/FooterTextureFireRock.png');
    background-size: cover;
    background-position: center;
    border-top: 2px solid #78350f; /* cobre oscuro */
    box-shadow: inset 0 6px 25px rgba(0,0,0,0.8);
}

main {
    position: relative;
    min-height: 100vh;
    background-image: radial-gradient(circle at center, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.55) 100%), url('/Images/Textures/TexturePapyrusGeneralBackGround.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    box-shadow: inset 0 0 120px rgba(0, 0, 0, 0.6);
}

/*hola*/