<div class="container py-3 small text-muted d-flex flex-column flex-md-row gap-2 justify-content-between align-items-md-center">
    <div>
        &copy; @DateTime.Now.Year - Dungeons And Auctions. Todos los derechos reservados.
    </div>
    <div>
        <a class="link-secondary text-decoration-none" asp-area="" asp-controller="Home" asp-action="Privacy">
            Privacidad
        </a>
    </div>
</div>