<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        body {
            display: block !important;
            background-color: #1a1412 !important;
        }
    </style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - D&A.Web</title>
    <link rel="stylesheet" href="~/css/MainPage.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/Images/Logo/favicon.ico" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600;700&display=swap" rel="stylesheet">
</head>
<body class="min-h-screen antialiased m-0 p-0" style="background-color: #1a1412;">

    <main>
        @RenderBody()
    </main>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>