<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - D&A.Web</title>
    <link rel="stylesheet" href="~/css/MainPage.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/AudioController.css" />
    <link rel="icon" type="image/x-icon" href="~/Images/Logo/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/Images/Logo/favicon-32.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="~/Images/Logo/favicon-192.png" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600;700&display=swap" rel="stylesheet">


</head>
<body class="min-h-screen flex flex-col antialiased bg-gray-50 text-gray-900">
    <header class="sticky top-0 z-50 ">
        @await Html.PartialAsync("_AudioController")
        @await Html.PartialAsync("_Header")
    </header>

    <main class="flex-grow">
       
        @RenderBody()

    </main>

    <!-- jQuery primero, luego tu script -->
    <audio id="hover-sound" src="/Sounds/SwordDraw.mp3" preload="auto"></audio>

    <footer class="mt-auto border-t-4 border-yellow-700 bg-[#2a1f1a] shadow-[0_-12px_30px_rgba(0,0,0,0.85)]">

        @await Html.PartialAsync("_Footer")

     
    </footer>

    <script src="/js/audio-controller.js"></script>
    <script src="/js/page-loader.js"></script>  
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)

    @if (TempData["Notificacion"] != null || ViewBag.Notificacion != null)
    {
        var json = TempData["Notificacion"] ?? ViewBag.Notificacion;
        <script>
            const notif = @Html.Raw(json);
                       Swal.fire({
                title: notif.title,
                html: notif.text,
                icon: notif.icon
            });
        </script>
    }


</body>




</html>

