@model D_A.Application.DTOs.AuctionsDTO

@{
    ViewData["Title"] = "CreateAuction";
}

<h1>CreateAuction</h1>

<h4>AuctionsDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAuction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="BasePrice" class="control-label"></label>
                <input asp-for="BasePrice" class="form-control" />
                <span asp-validation-for="BasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncrementoMinimo" class="control-label"></label>
                <input asp-for="IncrementoMinimo" class="form-control" />
                <span asp-validation-for="IncrementoMinimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idstate" class="control-label"></label>
                <input asp-for="idstate" class="form-control" />
                <span asp-validation-for="idstate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idusercreator" class="control-label"></label>
                <input asp-for="idusercreator" class="form-control" />
                <span asp-validation-for="idusercreator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idobject" class="control-label"></label>
                <input asp-for="idobject" class="form-control" />
                <span asp-validation-for="idobject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalBids" class="control-label"></label>
                <input asp-for="TotalBids" class="form-control" />
                <span asp-validation-for="TotalBids" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

